@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?c2w8wn');
    src:  url('fonts/icomoon.eot?c2w8wn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c2w8wn') format('truetype'),
    url('fonts/icomoon.woff?c2w8wn') format('woff'),
    url('fonts/icomoon.svg?c2w8wn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
    content: "\f0c0";
}
.icon-euro:before {
    content: "\f153";
}
.icon-bed:before {
    content: "\f236";
}
.icon-tripadvisor:before {
    content: "\f262";
}
.icon-shower:before {
    content: "\f2cc";
}
