// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Feather icons
.feather {
    width: 16px;
    height: 16px;
    vertical-align: center;
}

// Select2
@import "~select2";
$input-focus-border-color : #3490dc;
$input-focus-box-shadow : 0 0 0 0;
@import "select2/select2-override";


// https://icomoon.io/
@import "icomoon";

// https://lokeshdhakar.com/projects/lightbox2
@import "~lightbox2/dist/css/lightbox.css";

.form-control:focus {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
}

.btn-radius {
    @include border-radius(48px);
}

.btn-lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    color: #ffffff;
    background: rgba(0,0,0,0.8);
    text-decoration: none;
    @include border-radius(2px);
}
.btn-lightbox:hover {
    color: #ffffff;
    text-decoration: none;
    background: rgba(0,0,0,1);
}

.btn-maximize {
    position: absolute;
    left: auto;
    right: 16px;
    top : 16px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #ffffff;
    border-color: #dee2e6 #dee2e6 #ffffff;
}
