<template>
    <div>
        <div>
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item" v-for="(tab, index) in tabs"
                    :key="index">
                    <a class="nav-link"  :class="{'active': tab.isActive}" @click="changeTab(tab)">
                        {{ tab.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <slot></slot>
        </div>
    </div>
</template>
<script>
export default {
    props: {

    },
    data() {
        return {
            tabs: []
        };
    },
    created() {
        this.tabs = this.$children;
    },
    methods: {
        changeTab(tab) {
            this.tabs.map((t) => t.isActive = t.name == tab.name)
        }
    }
}
</script>
