<template>
    <div class="carousel">
        <slot></slot>
        <div class="carousel__nav d-flex align-items-center justify-content-between">
            <button class="carousel__btn" @click.prevent="prev"><i data-feather="chevron-left"></i></button>
            <span>[{{ page }} / {{ slidesCount }}]</span>
            <button class="carousel__btn" @click.prevent="next"><i data-feather="chevron-right"></i></button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            index : 0,
            slides: [],
            direction: null
        }
    },
    mounted() {
        this.slides = this.$children
        this.slides.forEach((slide, index) => {
            slide.index = index
        })
    },
    computed: {
        slidesCount() {
            return this.slides.length
        },
        page (){
            return this.index + 1
        }
    },
    methods : {
        next() {
            this.index++
            this.direction = 'right'
            if(this.index >= this.slidesCount) {
                this.index = 0;
            }
        },
        prev() {
            this.index--
            this.direction = 'left'
            if(this.index < 0) {
                this.index = this.slidesCount-1;
            }
        }
    }
}
</script>

<style scoped>
    .carousel {
        position: relative;
        overflow: hidden;
    }
    .carousel__nav {
        position : absolute;
        bottom : 0;
        left : 0;
        right: 0;
        height: 48px;
        width: 100%;
        color: #fff;
        background: rgba(0,0,0,0.8);
    }
    .carousel__btn {
        color: #fff;
        height: 100%;
        padding-left: 16px;
        padding-right: 16px;
        background: transparent !important;
        border : none !important;
    }
</style>
