<template>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li v-for="category in categories" class="list-group-item d-flex justify-content-between align-items-center">
                {{ category.name }}
                <button class="btn btn-sm btn-outline-danger" @click="destroyCategory(category)">Supprimer</button>
            </li>
            <li class="list-group-item">
                <div class="input-group">
                    <input type="text" v-model="input" class="form-control" placeholder="Ajouter une catégorie"
                           aria-label="Ajouter une catégorie">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" @click="storeCategory()"><i data-feather="save"></i></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            categories: {},
            input: ""
        }
    },
    methods: {
        getCategories() {
            axios.get('/api/categories').then((response) => {
                this.categories = response.data.categories;
            })
        },
        storeCategory() {
            if (this.input === "") {
                return;
            }
            axios.post('/api/category/store', {
                name: this.input
            }).then(response => {
                this.input = "";
                this.getCategories();
            });
        },
        destroyCategory(category) {
            let url = '/api/category/' + category.id;
            console.log("url : " + url);
            axios.delete(url).then(response => {
                console.log(response.data.success)
                this.getCategories();
            }).catch(error => {
                console.log('Error ' + error)
            });
        }
    },
    created() {
        this.getCategories()
        console.log('AdminCategoryComponent created.')
    },
    mounted() {
        console.log('AdminCategoryComponent mounted.')
    }
}
</script>
