<template>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li v-for="service in services" class="list-group-item d-flex justify-content-between align-items-center">
                {{ service.name }}
                <button class="btn btn-sm btn-outline-danger" @click="destroyService(service)">Supprimer</button>
            </li>
            <li class="list-group-item">
                <div class="input-group">
                    <input type="text" v-model="input" class="form-control" placeholder="Ajouter un service"
                           aria-label="Ajouter un service">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" @click="storeService()"><i data-feather="save"></i></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            services: {},
            input: ""
        }
    },
    methods: {
        getServices() {
            axios.get('/api/services').then((response) => {
                this.services = response.data.services;
            })
        },
        storeService() {
            if (this.input === "") {
                return;
            }
            axios.post('/api/service/store', {
                name: this.input
            }).then(response => {
                this.input = "";
                this.getServices();
            });
        },
        destroyService(service) {
            let url = '/api/service/' + service.id;
            console.log("url : " + url);
            axios.delete('/api/service/' + service.id).then(response => {
                console.log(response.data.success)
                this.getServices();
            }).catch(error => {
                console.log('Error ' + error)
            });
        }
    },
    created() {
        this.getServices()
        console.log('AdminServiceComponent created.')
    },
    mounted() {
        console.log('AdminServiceComponent mounted.')
    }
}
</script>
